TODO: split into multiple notebooks

In [1]:
from IPython.display import Image
import sqlalchemy
from sqlalchemy import create_engine, inspect, select, insert, or_, MetaData, Table, Integer, Float, Column, ForeignKey, String
from sqlalchemy.orm import sessionmaker, mapper, relationship, backref

from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy.ext.automap import automap_base

# Overview

SQLAlchemy is a Python library that provides an object relational mapper (ORM). It does what it suggests: it maps your databases (tables, etc.) to Python objects, so that you can more easily and natively interact with them. SQLAlchemy can be used with sqlite, MySQL, PostgreSQL, etc.

In [2]:
Image(url="https://image.slidesharecdn.com/sqlaintro-130921142257-phpapp02/95/michael-bayer-introduction-to-sqlalchemy-postgres-open-9-638.jpg?cb=1379773451")

In [3]:
Image(url="https://image.slidesharecdn.com/sqlaintro-130921142257-phpapp02/95/michael-bayer-introduction-to-sqlalchemy-postgres-open-6-638.jpg?cb=1379773451")

# Engine, Connection, Transactions

## Database Urls

used in the create_engine() function and can include username, password, hostname, database name as well as optional keyword arguments for additional configuration

typical url: dialect+driver://username:password@host:port/database

### SQLite

SQLite connects to file-based databases, using the Python built-in module sqlite3 by default.

In [4]:
# # relative path
# # sqlite://<nohostname>/<path>
# engine = create_engine('sqlite:///foo.db')

# # absolute path
# engine = create_engine('sqlite:///C:\\path\\to\\foo.db')

# # to use in memory database
# engine = create_engine('sqlite://')

# #Note: Unix/Mac uses 4 slashes e.g. "sqlite:////absolute/path/to/foo.db"

### PostgreSQL

In [5]:
# # default
# engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')

# # psycopg2 (which is the default)
# engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase')

# # pg8000
# engine = create_engine('postgresql+pg8000://scott:tiger@localhost/mydatabase')

## Excecuting SQL

### From Engine Object

In [6]:
from sqlalchemy import create_engine

In [7]:
# can pass kw echo=True to see actual SQL
engine = create_engine("sqlite:///sqlalchemy-example.db")

In [8]:
try:
    sql = """
    DROP TABLE "orders"
    """
    engine.execute(sql)
except:
    pass

try:
    sql = """
    DROP TABLE customers
    """
    engine.execute(sql)
except:
    pass

try:
    sql = """
    DROP TABLE items
    """
    engine.execute(sql)
except:
    pass

In [9]:
sql = """
CREATE TABLE customers (
    cust_id INTEGER PRIMARY KEY,
    cust_name VARCHAR
)
"""
engine.execute(sql)

sql = """
INSERT INTO customers (cust_name)
VALUES ('Hilary')
"""
engine.execute(sql)

sql = """
SELECT * FROM customers
"""
result = engine.execute(sql)
result.fetchall()

[(1, 'Hilary')]

In [10]:
sql = """
INSERT INTO customers (cust_name)
VALUES ('Donald')
"""
engine.execute(sql)

sql = """
SELECT *
FROM customers
WHERE cust_id = :cust_id
"""
engine.execute(sql, cust_id=2).fetchall()

[(2, 'Donald')]

### From Connection Object

In [11]:
# Control the scope of coneection with connection object
conn = engine.connect()
result = conn.execute('SELECT * FROM customers')
print(result.fetchall())
conn.close()

[(1, 'Hilary'), (2, 'Donald')]

### With Transaction Object

In [12]:
# use transaction object to control transaction commit
conn = engine.connect()
trans = conn.begin()
conn.execute("INSERT INTO customers (cust_name) VALUES ('Orenthal')")
conn.execute("INSERT INTO customers (cust_name) VALUES ('Cordozar')")

# Insert statements not reflected in db until trans.commit() called
result = engine.execute('SELECT * FROM customers')
print(result.fetchall())

trans.commit()
conn.close()

# Now new rows should be visible
result = engine.execute('SELECT * FROM customers')
print(result.fetchall())

[(1, 'Hilary'), (2, 'Donald')]
[(1, 'Hilary'), (2, 'Donald'), (3, 'Orenthal'), (4, 'Cordozar')]

In [13]:
# Transaction using a context manager
with engine.begin() as conn:
    conn.execute("INSERT INTO customers (cust_name) VALUES ('Lebron')")
    conn.execute("INSERT INTO customers (cust_name) VALUES ('Barry')")
    
    # New rows not visible until outside with clause
    result = engine.execute('SELECT * FROM customers')
    print(result.fetchall())
    
# Now new rows should be visible
result = engine.execute('SELECT * FROM customers')
print(result.fetchall())

[(1, 'Hilary'), (2, 'Donald'), (3, 'Orenthal'), (4, 'Cordozar')]
[(1, 'Hilary'), (2, 'Donald'), (3, 'Orenthal'), (4, 'Cordozar'), (5, 'Lebron'), (6, 'Barry')]

# Metadata, Reflection, DDL

## Inspector Object

In [14]:
from sqlalchemy import inspect

In [15]:
# Use inspector object to view database schema
inspector = inspect(engine)

# view table names
print('table names: ', inspector.get_table_names())

table names:  ['customers']

In [16]:
# view columns of table
for i, column in enumerate(inspector.get_columns('customers')):
    print('Column', i+1)
    print(column, '\n')

Column 1
{'name': 'cust_id', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}

Column 2
{'name': 'cust_name', 'type': VARCHAR(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

## Reflection

In [17]:
from sqlalchemy import MetaData, Table, Integer, Float, Column, ForeignKey, String

In [18]:
# Get table object representing db table using reflection
metadata = MetaData()
customer_table = Table('customers', metadata, autoload=True, autoload_with=engine)
customer_table

Table('customers', MetaData(bind=None), Column('cust_id', INTEGER(), table=<customers>, primary_key=True, nullable=False), Column('cust_name', VARCHAR(), table=<customers>), schema=None)

## Create Table

In [19]:
# Make a new table object. Its two primary arguments are the table name,
# then the MetaData object which it will be associated with.
# The remaining positional arguments are mostly Column objects describing each column
item_table = Table('items', metadata,
                        Column('item_id', Integer(), primary_key=True),
                        Column('item_name', String(50)),
                        Column('item_price', Float(), nullable=False),
                       )
item_table

Table('items', MetaData(bind=None), Column('item_id', Integer(), table=<items>, primary_key=True, nullable=False), Column('item_name', String(length=50), table=<items>), Column('item_price', Float(), table=<items>, nullable=False), schema=None)

In [20]:
# then add table to db
metadata.create_all(engine)

# can also add individual tables with table_oject.create
# order_table.create(engine)

# now when we inspect their should be 2 tables
inspector = inspect(engine)
inspector.get_table_names()

['customers', 'items']

# SQL Expressions

In [21]:
from sqlalchemy import select, insert, or_

In [22]:
# sqlalchemy uses overloaded operators so this yields a binary expression operator instead of a boolean
be = customer_table.c.cust_name == 'Cordozar'
print('object type:', type(be))
print('left:', be.left)
print('right:', be.right)
print('operator:', be.operator)

object type: <class 'sqlalchemy.sql.elements.BinaryExpression'>
left: customers.cust_name
right: :cust_name_1
operator: <built-in function eq>

## Select

In [23]:
# Example select statement
select_stmt = (select([customer_table])
               .where(
                    or_(
                        customer_table.c.cust_name == 'Orenthal',
                        customer_table.c.cust_name == 'Donald'
                    )
                )
                .order_by('cust_name')
              )
results = engine.execute(select_stmt)
results.fetchall()

[(2, 'Donald'), (3, 'Orenthal')]

In [24]:
# print select statement to see acutal sql
print(select_stmt)

SELECT customers.cust_id, customers.cust_name
FROM customers
WHERE customers.cust_name = :cust_name_1 OR customers.cust_name = :cust_name_2 ORDER BY customers.cust_name

In [25]:
# alternative way to make same select statment
select_stmt = (customer_table.select()
               .where(
                   or_(
                       customer_table.c.cust_name == 'Lebron',
                       customer_table.c.cust_name == 'Hilary'
                   )
               )
               .order_by('cust_name')
              )
print(select_stmt)

SELECT customers.cust_id, customers.cust_name
FROM customers
WHERE customers.cust_name = :cust_name_1 OR customers.cust_name = :cust_name_2 ORDER BY customers.cust_name

## Insert

In [26]:
# insert a record into item table
insert_stmt = item_table.insert().values(
    item_name = 'bleach',
    item_price = 10
)
engine.execute(insert_stmt)
# print(insert_stmt, '\n')

engine.execute(item_table.select()).fetchall()

[(1, 'bleach', 10.0)]

In [27]:
# insert multiple records into item table using list of dictionaries
insert_stmt = item_table.insert().values([
    {'item_name': 'rogaine', 'item_price': 20},
    {'item_name': 'gloves', 'item_price': 15}
])
engine.execute(insert_stmt)
# print(insert_stmt, '\n')

engine.execute(item_table.select()).fetchall()

[(1, 'bleach', 10.0), (2, 'rogaine', 20.0), (3, 'gloves', 15.0)]

## Join

In [28]:
# create join object
# join_obj = order_table.join(customer_table)
# print(join_obj)

In [29]:
# join_obj.c.order_order_total

In [30]:
# # create select statement from join object and get results
# select_stmt = join_obj.select()
# results = engine.execute(select_stmt)
# results.fetchall()

In [31]:
# # Can also use select function
# select_stmt = (
#     select([customer_table.c.cust_name, order_table.c.order_total])
#     .select_from(join_obj)
# )
# results = engine.execute(select_stmt)
# results.fetchall()

# Object Relational Mapping

In [32]:
from sqlalchemy.orm import sessionmaker, mapper, relationship, backref

from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy.ext.automap import automap_base

In [9]:


Base = automap_base()

Base.prepare(engine, reflect=True)

Item = Base.classes['items']
Customer = Base.classes['customers']
Order = Base.classes['orders']

# Order.customer = relationship('Customer', backref=backref('orders'))
# Order.item = relationship('Item', backref=backref('orders'))

In [7]:
engine.execute('select * from orders').fetchall()

[(1, 1, 1, 10)]

In [14]:
inspect(Customer).relationships.items()

[('orders', <RelationshipProperty at 0x1bc4cb3ae48; orders>)]

In [46]:
list(Base.classes.items())

[('customers', sqlalchemy.ext.automap.customers),
 ('items', sqlalchemy.ext.automap.items),
 ('orders', sqlalchemy.ext.automap.orders)]

In [35]:
Session = sessionmaker(bind=engine)
session = Session()

juice = Item(item_name='juice', item_price=5)

session.add(juice)
session.commit()
engine.execute(item_table.select()).fetchall()

[(1, 'bleach', 10.0),
 (2, 'rogaine', 20.0),
 (3, 'gloves', 15.0),
 (4, 'juice', 5.0)]

In [36]:
gin = Item(item_name='gin', item_price=25)
extra_small_gloves = Item(item_name='extra_small_gloves', item_price=5)
hgh = Item(item_name='HGH', item_price=100)

new_items = [gin, extra_small_gloves, hgh]
session.add_all(new_items)
session.commit()

engine.execute(item_table.select()).fetchall()

[(1, 'bleach', 10.0),
 (2, 'rogaine', 20.0),
 (3, 'gloves', 15.0),
 (4, 'juice', 5.0),
 (5, 'gin', 25.0),
 (6, 'extra_small_gloves', 5.0),
 (7, 'HGH', 100.0)]

In [37]:
Dbase = declarative_base(metadata=Base.metadata)
class Order(Dbase):
    __tablename__ = 'orders'
    
    order_id = Column(Integer(), primary_key=True)
    cust_id = Column(Integer(), ForeignKey('customers.cust_id'))
    item_id = Column(Integer(), ForeignKey('items.item_id'))
    quantity = Column(Integer())
    
#     customer = relationship('Customer', backref=backref('orders'))
#     item = relationship('Item', backref=backref('orders'))

In [40]:
Dbase.metadata.create_all(engine)

In [58]:
o1 = Order()
hilary = session.query(Customer).filter(Customer.cust_name=='Hilary').one()
o1.customer = hilary
bleach = session.query(Item).filter(Item.item_name=='bleach').one()
o1.item = bleach
o1.quantity = 10
session.add(o1)
session.commit()

InvalidRequestError: One or more mappers failed to initialize - can't proceed with initialization of other mappers. Triggering mapper: 'mapped class Order->orders'. Original exception was: When initializing mapper mapped class Order->orders, expression 'Customer' failed to locate a name ("name 'Customer' is not defined"). If this is a class name, consider adding this relationship() to the <class '__main__.Order'> class after both dependent classes have been defined.

In [48]:
# Use inspector object to view database schema
inspector = inspect(engine)

# view table names
print('table names: ', inspector.get_table_names())

table names:  ['customers', 'items', 'orders']

In [45]:
engine.execute('select * from orders').fetchall()

[(1, None, None, 10)]

In [17]:
engine = create_engine("sqlite:///sqlalchemy-example-test5.db", echo=True)

Base = declarative_base()

class Item(Base):
    __tablename__ = 'items'
    
    item_id = Column(Integer(), primary_key=True)
    item_name = Column(String(50))
    item_price = Column(Float(), nullable=False)

    
class Customer(Base):
    __tablename__ = 'customers'
    
    cust_id = Column(Integer(), primary_key=True)
    cust_name = Column(String(50))

    
class Order(Base):
    __tablename__ = 'orders'
    
    order_id = Column(Integer(), primary_key=True)
    cst_id = Column(Integer(), ForeignKey('customers.cust_id'))
    item_id = Column(Integer(), ForeignKey('items.item_id'))
    quantity = Column(Integer())
    
    customer = relationship('Customer', backref=backref('orders'))
    item = relationship('Item', backref=backref('orders'))


Base.metadata.create_all(engine)

2019-12-12 22:25:43,547 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-12-12 22:25:43,548 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:43,548 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-12-12 22:25:43,549 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:43,549 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("items")
2019-12-12 22:25:43,549 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:43,550 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("items")
2019-12-12 22:25:43,551 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:43,552 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("customers")
2019-12-12 22:25:43,552 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:43,553 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("customers")
2019-12-12 22:25:43,553 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:43,554 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("orders")
2019-12-12 22:25:43,554 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:43,555 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("orders")
2019-12-12 22:25:43,555 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:43,556 INFO sqlalchemy.engine.base.Engine
CREATE TABLE items (
	item_id INTEGER NOT NULL,
	item_name VARCHAR(50),
	item_price FLOAT NOT NULL,
	PRIMARY KEY (item_id)
)


2019-12-12 22:25:43,556 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:44,058 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-12 22:25:44,059 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers (
	cust_id INTEGER NOT NULL,
	cust_name VARCHAR(50),
	PRIMARY KEY (cust_id)
)


2019-12-12 22:25:44,059 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:44,169 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-12 22:25:44,170 INFO sqlalchemy.engine.base.Engine
CREATE TABLE orders (
	order_id INTEGER NOT NULL,
	cst_id INTEGER,
	item_id INTEGER,
	quantity INTEGER,
	PRIMARY KEY (order_id),
	FOREIGN KEY(cst_id) REFERENCES customers (cust_id),
	FOREIGN KEY(item_id) REFERENCES items (item_id)
)


2019-12-12 22:25:44,170 INFO sqlalchemy.engine.base.Engine ()
2019-12-12 22:25:44,258 INFO sqlalchemy.engine.base.Engine COMMIT