In [5]:
from IPython.display import Image
import sqlalchemy

SQLAlchemy is a Python library that provides an object relational mapper (ORM). It does what it suggests: it maps your databases (tables, etc.) to Python objects, so that you can more easily and natively interact with them. SQLAlchemy can be used with sqlite, MySQL, PostgreSQL, etc.

In [8]:
Image(url="https://image.slidesharecdn.com/sqlaintro-130921142257-phpapp02/95/michael-bayer-introduction-to-sqlalchemy-postgres-open-9-638.jpg?cb=1379773451")

In [14]:
Image(url="https://image.slidesharecdn.com/sqlaintro-130921142257-phpapp02/95/michael-bayer-introduction-to-sqlalchemy-postgres-open-6-638.jpg?cb=1379773451")

# Engine, Connection, Transactions

In [2]:
from sqlalchemy import create_engine

In [99]:
engine = create_engine("sqlite:///some.db")
engine

Engine(sqlite:///some.db)

In [13]:
# sql = """
# DROP TABLE employee
# """
# engine.execute(sql)

In [100]:
sql = """
CREATE TABLE employee (
    emp_id INTEGER PRIMARY KEY,
    emp_name VARCHAR
)
"""
engine.execute(sql)

In [101]:
sql = """
INSERT INTO employee (emp_name)
VALUES ('dilbert')
"""
engine.execute(sql)

In [102]:
sql = """
INSERT INTO employee (emp_name) VALUES ('Ryan')
"""
engine.execute(sql)

In [103]:
sql = """
SELECT * FROM employee
"""
result = engine.execute(sql)
result.fetchall()

[(1, 'dilbert'), (2, 'Ryan')]

In [104]:
sql = """
SELECT *
FROM employee
WHERE emp_id = :emp_id
"""

engine.execute(sql, emp_id=1).fetchall()

[(1, 'dilbert')]

In [105]:
# Control the scope of coneection with connection object
conn = engine.connect()
result = conn.execute('SELECT * FROM employee')
print(result.fetchall())
conn.close()

[(1, 'dilbert'), (2, 'Ryan')]

In [177]:
type(conn)

sqlalchemy.engine.base.Connection

In [106]:
conn = engine.connect()
trans = conn.begin()
conn.execute("INSERT INTO employee (emp_name) VALUES ('Rick')")
conn.execute("INSERT INTO employee (emp_name) VALUES ('Morty')")

result = engine.execute('SELECT * FROM employee')
print(result.fetchall())

trans.commit()
conn.close()
result = engine.execute('SELECT * FROM employee')
print(result.fetchall())

[(1, 'dilbert'), (2, 'Ryan')]
[(1, 'dilbert'), (2, 'Ryan'), (3, 'Rick'), (4, 'Morty')]

In [107]:
# Transaction using a context manager
with engine.begin() as conn:
    conn.execute("INSERT INTO employee (emp_name) VALUES ('Tyrion')")
    conn.execute("INSERT INTO employee (emp_name) VALUES ('Tywin')")
    
    result = engine.execute('SELECT * FROM employee')
    print(result.fetchall())

result = engine.execute('SELECT * FROM employee')
print(result.fetchall())

[(1, 'dilbert'), (2, 'Ryan'), (3, 'Rick'), (4, 'Morty')]
[(1, 'dilbert'), (2, 'Ryan'), (3, 'Rick'), (4, 'Morty'), (5, 'Tyrion'), (6, 'Tywin')]

## Database Urls

https://docs.sqlalchemy.org/en/13/core/engines.html

used in the create_engine() function and can include username, password, hostname, database name as well as optional keyword arguments for additional configuration

typical url: dialect+driver://username:password@host:port/database

### SQLite

SQLite connects to file-based databases, using the Python built-in module sqlite3 by default.

In [ ]:
# relative path
# sqlite://<nohostname>/<path>
engine = create_engine('sqlite:///foo.db')

# absolute path
engine = create_engine('sqlite:///C:\\path\\to\\foo.db')

# to use in memory database
engine = create_engine('sqlite://')

#Note: Unix/Mac uses 4 slashes e.g. "sqlite:////absolute/path/to/foo.db"

### PostgreSQL

In [ ]:
# default
engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')

# psycopg2 (which is the default)
engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase')

# pg8000
engine = create_engine('postgresql+pg8000://scott:tiger@localhost/mydatabase')

# Table Metadata, Reflection, DDL

In [89]:
from sqlalchemy import MetaData, Table, ForeignKey, Column, Integer, String, inspect

In [85]:
# To represent a table, use the Table class. Its two primary arguments are the table name,
# then the MetaData object which it will be associated with.
# The remaining positional arguments are mostly Column objects describing each column
metadata = MetaData()
user_table = Table('user', metadata,
                   Column('id', Integer, primary_key=True),
                   Column('name', String),
                   Column('fullname', String)
                  )

# Use .c or .columns to access columns in a dictionary like object 
print(user_table.columns is user_table.c, '\n')

for key, val in user_table.c.items():
    print(key, ': ', val)

print('\n', user_table.c.fullname)

True

id :  user.id
name :  user.name
fullname :  user.fullname

 user.fullname

In [153]:
addresses_table = Table('address', metadata,
                        Column('id', Integer, primary_key=True),
                        Column('email_address', String(100), nullable=False),
                        Column('user_id', Integer, ForeignKey('user.id'))
                       )

InvalidRequestError: Table 'address' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [78]:
# create tables in database using metadata.create_all(engine)
engine = create_engine("sqlite:///some_other.db")
metadata.create_all(engine)

# or add individual tables with table_oject.create
# user_table.create(engine)

## Reflection

In [98]:
# use reflection to get make table oject based on table in existing database
metadata2 = MetaData()
user_reflected = Table('user', metadata2, autoload=True, autoload_with=engine)
user_reflected

Table('user', MetaData(bind=None), Column('id', INTEGER(), table=<user>, primary_key=True, nullable=False), Column('name', VARCHAR(), table=<user>), Column('fullname', VARCHAR(), table=<user>), schema=None)

### Inspector Object

In [92]:
# Use inspector object to view database schema
inspector = inspect(engine)

# view table names
inspector.get_table_names()

['address', 'user']

In [67]:
# view column data for table
inspector.get_columns('user')

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'name',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'fullname',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [94]:
inspector.get_schema_names()

['main']

In [96]:
inspector.get_foreign_keys('address')

[{'name': None,
  'constrained_columns': ['user_id'],
  'referred_schema': None,
  'referred_table': 'user',
  'referred_columns': ['id'],
  'options': {}}]

In [84]:
[i for i in dir(inspector) if i[0] != '_']

['bind',
 'default_schema_name',
 'dialect',
 'engine',
 'from_engine',
 'get_check_constraints',
 'get_columns',
 'get_foreign_keys',
 'get_indexes',
 'get_pk_constraint',
 'get_primary_keys',
 'get_schema_names',
 'get_sorted_table_and_fkc_names',
 'get_table_comment',
 'get_table_names',
 'get_table_options',
 'get_temp_table_names',
 'get_temp_view_names',
 'get_unique_constraints',
 'get_view_definition',
 'get_view_names',
 'info_cache',
 'reflecttable']

# SQL Expressions

uses overloaded operators

In [168]:
engine

Engine(sqlite:///some_other.db)

In [170]:
inspector.get_columns('user')

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'name',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'fullname',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [169]:
inspector = inspect(engine)

inspector.get_table_names()

['address', 'user']

In [109]:
# use reflection to get make table oject based on table in existing database
metadata2 = MetaData()
employee_reflected = Table('employee', metadata2, autoload=True, autoload_with=engine)
employee_reflected

Table('employee', MetaData(bind=None), Column('emp_id', INTEGER(), table=<employee>, primary_key=True, nullable=False), Column('emp_name', VARCHAR(), table=<employee>), schema=None)

In [115]:
be = employee_reflected.c.emp_name == 'Ryan'

print(be)

employee.emp_name = :emp_name_1

In [123]:
be.compile().execute()

UnboundExecutionError: This Compiled object is not bound to any Engine or Connection. (Background on this error at: http://sqlalche.me/e/2afi)

In [121]:
dir(be.compile())

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_add_to_result_map',
 '_anonymize',
 '_apply_numbered_params',
 '_bind_processors',
 '_cached_metadata',
 '_compose_select_body',
 '_create_result_map',
 '_default_stack_entry',
 '_display_froms_for_select',
 '_emit_empty_in_warning',
 '_execute_on_connection',
 '_fallback_column_name',
 '_format_frame_clause',
 '_generate_generic_binary',
 '_generate_generic_unary_modifier',
 '_generate_generic_unary_operator',
 '_generate_prefixes',
 '_get_operator_dispatch',
 '_init_cte_state',
 '_key_getters_for_crud_column',
 '_label_select_column',
 '_like_percent_literal',
 '_nested_result',
 '_numeric_binds',
 '_ordered_columns',
 '_process_anon',
 '_render_cte_clause',
 '_result_columns',
 '_setup_crud_hints',
 '_setup_select_hints',
 '_setup_select_stack',
 '_textual_ordered_columns',
 '_transform_result_map_for_nested_joins',
 '_transform_select_for_nested_joins',
 '_truncate_bindparam',
 '_truncated_identifier',
 'anon_map',
 'ansi_bind_rules',
 'bind',
 'bind_names',
 'bindparam_string',
 'binds',
 'bindtemplate',
 'can_execute',
 'column_keys',
 'compile',
 'compound_keywords',
 'construct_params',
 'contains_expanding_parameters',
 'ctes',
 'default_from',
 'delete_extra_from_clause',
 'delete_table_clause',
 'dialect',
 'escape_literal_column',
 'execute',
 'execution_options',
 'extract_map',
 'for_update_clause',
 'format_from_hint_text',
 'function_argspec',
 'get_crud_hint_text',
 'get_cte_preamble',
 'get_from_hint_text',
 'get_render_as_alias_suffix',
 'get_select_hint_text',
 'get_select_precolumns',
 'get_statement_hint_text',
 'group_by_clause',
 'inline',
 'insert_prefetch',
 'insert_single_values_expr',
 'is_subquery',
 'isdelete',
 'isinsert',
 'isplaintext',
 'isupdate',
 'label_length',
 'limit_clause',
 'order_by_clause',
 'params',
 'positional',
 'post_process_text',
 'prefetch',
 'preparer',
 'process',
 'render_literal_bindparam',
 'render_literal_value',
 'render_table_with_column_in_update_from',
 'returning',
 'returning_clause',
 'returning_precedes_values',
 'scalar',
 'sql_compiler',
 'stack',
 'statement',
 'string',
 'truncated_names',
 'update_from_clause',
 'update_limit_clause',
 'update_prefetch',
 'update_tables_clause',
 'visit_alias',
 'visit_between_op_binary',
 'visit_binary',
 'visit_bindparam',
 'visit_case',
 'visit_cast',
 'visit_clauselist',
 'visit_collation',
 'visit_column',
 'visit_compound_select',
 'visit_contains_op_binary',
 'visit_cte',
 'visit_custom_op_binary',
 'visit_custom_op_unary_modifier',
 'visit_custom_op_unary_operator',
 'visit_delete',
 'visit_empty_in_op_binary',
 'visit_empty_notin_op_binary',
 'visit_empty_set_expr',
 'visit_endswith_op_binary',
 'visit_extract',
 'visit_false',
 'visit_fromclause',
 'visit_funcfilter',
 'visit_function',
 'visit_function_as_comparison_op_binary',
 'visit_getitem_binary',
 'visit_grouping',
 'visit_ilike_op_binary',
 'visit_index',
 'visit_insert',
 'visit_isfalse_unary_operator',
 'visit_istrue_unary_operator',
 'visit_join',
 'visit_json_getitem_op_binary',
 'visit_json_path_getitem_op_binary',
 'visit_label',
 'visit_label_reference',
 'visit_lateral',
 'visit_like_op_binary',
 'visit_mod_binary',
 'visit_next_value_func',
 'visit_notbetween_op_binary',
 'visit_notcontains_op_binary',
 'visit_notendswith_op_binary',
 'visit_notilike_op_binary',
 'visit_notlike_op_binary',
 'visit_notmatch_op_binary',
 'visit_notstartswith_op_binary',
 'visit_null',
 'visit_over',
 'visit_release_savepoint',
 'visit_rollback_to_savepoint',
 'visit_savepoint',
 'visit_select',
 'visit_sequence',
 'visit_startswith_op_binary',
 'visit_table',
 'visit_tablesample',
 'visit_text_as_from',
 'visit_textclause',
 'visit_textual_label_reference',
 'visit_true',
 'visit_type_coerce',
 'visit_typeclause',
 'visit_unary',
 'visit_update',
 'visit_withingroup']

In [126]:
be.left, be.right, be.operator

(Column('emp_name', VARCHAR(), table=<employee>),
 BindParameter('%(1912501472264 emp_name)s', 'Ryan', type_=VARCHAR()),
 <function _operator.eq(a, b, /)>)

In [120]:
be.compile().params

{'emp_name_1': 'Ryan'}

In [129]:
sql_expr = employee_reflected.select().where(be)
result = engine.execute(sql_expr)
result.fetchall()

[(2, 'Ryan')]

In [130]:
dir(employee_reflected)

['__and__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__visit_name__',
 '__weakref__',
 '_annotate',
 '_annotations',
 '_autoincrement_column',
 '_autoload',
 '_clone',
 '_cloned_set',
 '_cols_populated',
 '_columns',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_deannotate',
 '_execute_on_connection',
 '_extra_dependencies',
 '_extra_kwargs',
 '_from_objects',
 '_hide_froms',
 '_init',
 '_init_collections',
 '_init_existing',
 '_init_items',
 '_is_clone_of',
 '_is_from_container',
 '_is_join',
 '_is_lateral',
 '_is_lexical_equivalent',
 '_is_select',
 '_kw_reg_for_dialect',
 '_kw_reg_for_dialect_cls',
 '_kw_registry',
 '_memoized_property',
 '_negate',
 '_order_by_label_element',
 '_params',
 '_populate_column_collection',
 '_prefixes',
 '_refresh_for_new_column',
 '_reset_exported',
 '_schema_item_copy',
 '_select_iterable',
 '_set_parent',
 '_set_parent_with_dispatch',
 '_sorted_constraints',
 '_textual',
 '_translate_schema',
 '_validate_dialect_kwargs',
 '_with_annotations',
 'add_is_dependent_on',
 'alias',
 'append_column',
 'append_constraint',
 'append_ddl_listener',
 'argument_for',
 'bind',
 'c',
 'columns',
 'comment',
 'compare',
 'compile',
 'constraints',
 'correspond_on_equivalents',
 'corresponding_column',
 'count',
 'create',
 'delete',
 'description',
 'dialect_kwargs',
 'dialect_options',
 'dispatch',
 'drop',
 'exists',
 'foreign_key_constraints',
 'foreign_keys',
 'fullname',
 'get_children',
 'implicit_returning',
 'indexes',
 'info',
 'insert',
 'is_clause_element',
 'is_derived_from',
 'is_selectable',
 'join',
 'key',
 'kwargs',
 'lateral',
 'metadata',
 'name',
 'named_with_column',
 'outerjoin',
 'params',
 'primary_key',
 'quote',
 'quote_schema',
 'replace_selectable',
 'schema',
 'select',
 'selectable',
 'self_group',
 'supports_execution',
 'tablesample',
 'tometadata',
 'unique_params',
 'update']

In [131]:
dir(sqlalchemy)

['ARRAY',
 'BIGINT',
 'BINARY',
 'BLANK_SCHEMA',
 'BLOB',
 'BOOLEAN',
 'BigInteger',
 'Binary',
 'Boolean',
 'CHAR',
 'CLOB',
 'CheckConstraint',
 'Column',
 'ColumnDefault',
 'Computed',
 'Constraint',
 'DATE',
 'DATETIME',
 'DDL',
 'DECIMAL',
 'Date',
 'DateTime',
 'DefaultClause',
 'Enum',
 'FLOAT',
 'FetchedValue',
 'Float',
 'ForeignKey',
 'ForeignKeyConstraint',
 'INT',
 'INTEGER',
 'Index',
 'Integer',
 'Interval',
 'JSON',
 'LargeBinary',
 'MetaData',
 'NCHAR',
 'NUMERIC',
 'NVARCHAR',
 'Numeric',
 'PassiveDefault',
 'PickleType',
 'PrimaryKeyConstraint',
 'REAL',
 'SMALLINT',
 'Sequence',
 'SmallInteger',
 'String',
 'TEXT',
 'TIME',
 'TIMESTAMP',
 'Table',
 'Text',
 'ThreadLocalMetaData',
 'Time',
 'TypeDecorator',
 'Unicode',
 'UnicodeText',
 'UniqueConstraint',
 'VARBINARY',
 'VARCHAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__go',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_util',
 'alias',
 'all_',
 'and_',
 'any_',
 'asc',
 'between',
 'bindparam',
 'case',
 'cast',
 'collate',
 'column',
 'create_engine',
 'delete',
 'desc',
 'dialects',
 'distinct',
 'engine',
 'engine_from_config',
 'event',
 'events',
 'exc',
 'except_',
 'except_all',
 'exists',
 'extract',
 'false',
 'func',
 'funcfilter',
 'insert',
 'inspect',
 'inspection',
 'interfaces',
 'intersect',
 'intersect_all',
 'join',
 'lateral',
 'literal',
 'literal_column',
 'log',
 'modifier',
 'not_',
 'null',
 'nullsfirst',
 'nullslast',
 'or_',
 'outerjoin',
 'outparam',
 'over',
 'pool',
 'processors',
 'schema',
 'select',
 'sql',
 'subquery',
 'table',
 'tablesample',
 'text',
 'true',
 'tuple_',
 'type_coerce',
 'types',
 'union',
 'union_all',
 'update',
 'util',
 'within_group']

In [139]:
from sqlalchemy import select, insert, join, outerjoin, or_, and_

ImportError: cannot import name 'order_by' from 'sqlalchemy' (c:\program files\python37\lib\site-packages\sqlalchemy\__init__.py)

In [149]:
select_stmt = (select([employee_reflected])
               .where(
                    or_(
                        employee_reflected.c.emp_name == 'Rick',
                        employee_reflected.c.emp_name == 'Morty'
                    )
                )
                .order_by('emp_name')
              )
results = engine.execute(select_stmt)
results.fetchall()

[(4, 'Morty'), (3, 'Rick')]

In [158]:
adresses_table

NameError: name 'adresses_table' is not defined

In [165]:
print(select_stmt)

SELECT "user".id, "user".name, "user".fullname, address.id, address.email_address, address.user_id
FROM "user" JOIN address ON "user".id = address.user_id

In [164]:
engine = create_engine('sqlite:///some_other.db')
join_obj = user_table.join(addresses_table)
select_stmt = select([join_obj])
results = engine.execute(select_stmt)
results.fetchall()

[]

In [167]:
engine.execute('select * from user').fetchall()

[]

# Object Relational Mapping