todo:
- make all tables with 2 TVs
    - test results
    - test details
    - televisions
    - apl
    -

In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect
import sqlite3

In [38]:
engine = create_engine("sqlite:///tv-testing.db")

sony = {}
sony['entry_forms'] = r"G:\Shared drives\Automated Test\Final Test Files (All TVs)\LabTests\Sony_XBR-55X950G - GOOD\Data\Sony_XBR-55X950G-entry-forms.xlsx"
sony['raw_results'] = r"G:\Shared drives\Automated Test\Final Test Files (All TVs)\LabTests\Sony_XBR-55X950G - GOOD\Data\2019-11-20 13.06.32 - Sony_XBR-55X950G.csv"
sony['test_sequence'] = r"G:\Shared drives\Automated Test\Final Test Files (All TVs)\LabTests\Sony_XBR-55X950G - GOOD\Data\Sony_XBR-55X950G-test-sequence.xlsx"

In [39]:
sam = {}
sam['entry_forms'] = r"G:\Shared drives\Automated Test\Final Test Files (All TVs)\LabTests\SamsungQN49Q70R - GOOD\Data\SamsungQN49Q70R-entry-forms.xlsx"
sam['raw_results'] = r"G:\Shared drives\Automated Test\Final Test Files (All TVs)\LabTests\SamsungQN49Q70R - GOOD\Data\2019-11-18 17.18.03 - Samsung_QN49Q70R.csv"
sam['test_sequence'] = r"G:\Shared drives\Automated Test\Final Test Files (All TVs)\LabTests\SamsungQN49Q70R - GOOD\Data\Samsung_QN49Q70R-test-sequence.xlsx"

# television

In [61]:
try:
    sql = """drop table televisions"""
    engine.execute(sql)
except:
    pass

sql = """
CREATE TABLE televisions (
    id INTEGER PRIMARY KEY AUTOINCREMENT, 
    make TEXT, 
    model TEXT, 
    model_year INTEGER,
    manufacture_year INTEGER,
    manufacture_month INTEGER,
    screen_diagonal_inches FLOAT, 
    screen_aspect_ratio FLOAT
)
"""
engine.execute(sql)

In [63]:
d = {
    'Make': 'make',
    'Model number': 'model',
    'Model year': 'model_year',
    'Manufacture Year': 'manufacture_year',
    'Manufacture Month': 'manufacture_month',
    'Screen diagonal (Inches)': 'screen_diagonal_inches',
    'Aspect Ratio (w/h)': 'screen_aspect_ratio',
}

In [64]:
md_df = pd.read_excel(sam['entry_forms'], header=None, index_col=0).T
md_df = md_df[d.keys()].rename(columns=d)
md_df.to_sql('televisions',con=engine, if_exists='append', index=False)
engine.execute('select * from televisions').fetchall()

[(1, 'Samsung', 'QN49Q70RAFXZA', 2019, 2019, 10, 48.5, 1.7777777777777777)]

In [65]:
md_df = pd.read_excel(sony['entry_forms'], header=None, index_col=0).T
md_df = md_df[d.keys()].rename(columns=d)
md_df.to_sql('televisions',con=engine, if_exists='append', index=False)
engine.execute('select * from televisions').fetchall()

[(1, 'Samsung', 'QN49Q70RAFXZA', 2019, 2019, 10, 48.5, 1.7777777777777777),
 (2, 'Sony', 'XBR-55X950G', 2019, 2019, 8, 54.6, 1.7777777777777777)]

# apl

In [ ]:
try:
    sql = """drop table apl"""
    engine.execute(sql)
except:
    pass

sql = """
CREATE TABLE apl (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    clip_title TEXT,
    sample INTEGER, 
    sample_time TEXT, 
    apl FLOAT,
    red FLOAT,
    green FLOAT,
    blue FLOAT
)
"""
engine.execute(sql)

# test_results

In [74]:
try:
    sql = """drop table test_results"""
    engine.execute(sql)
except:
    pass


sql = """
CREATE TABLE test_results (
    id INTEGER PRIMARY KEY AUTOINCREMENT, 
    television_id INTEGER,
    timestamp TEXT, 
    tag TEXT, 
    luminance FLOAT, 
    power FLOAT, 
    voltage FLOAT, 
    frequency FLOAT, 
    power_factor FLOAT, 
    serial_buffer TEXT, 
    max_luminance FLOAT,
    FOREIGN KEY(television_id) REFERENCES televisions(id)
)
"""
engine.execute(sql)

In [76]:
path = r"G:\Shared drives\Automated Test\Final Test Files (All TVs)\LabTests\SamsungQN49Q70R - GOOD\Data\2019-11-18 17.18.03 - Samsung_QN49Q70R.csv"
df = pd.read_csv(path)
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df['television_id'] =1
# df.columns
df.to_sql('test_results',con=engine, if_exists='append', index=False)

In [68]:
# engine = create_engine("sqlite:///tv-testing.db")

df.to_sql('test_results',con=engine, if_exists='append', index=False)

inspector = inspect(engine)

In [8]:
# primary key workaround
import re

def get_create_table_string(tablename, connection):
    sql = """
    select * from sqlite_master where name = "{}" and type = "table"
    """.format(tablename) 
    result = connection.execute(sql)

    create_table_string = result.fetchmany()[0][4]
    return create_table_string

def add_pk_to_create_table_string(create_table_string, colname):
    regex = "(\n.+{}[^,]+)(,)".format(colname)
    return re.sub(regex, "\\1 PRIMARY KEY,",  create_table_string, count=1)

def add_pk_to_sqlite_table(tablename, index_column, connection):
    cts = get_create_table_string(tablename, connection)
    cts = add_pk_to_create_table_string(cts, index_column)
    template = """
    BEGIN TRANSACTION;
        ALTER TABLE {tablename} RENAME TO {tablename}_old_;

        {cts};

        INSERT INTO {tablename} SELECT * FROM {tablename}_old_;
        

        DROP TABLE {tablename}_old_;

    COMMIT TRANSACTION;
    """

    create_and_drop_sql = template.format(tablename = tablename, cts = cts)
    connection.executescript(create_and_drop_sql)

sqlite3_conn = sqlite3.connect("tv-testing.db")
add_pk_to_sqlite_table("test_results", "index", sqlite3_conn)

In [32]:
inspector.get_columns('test_results')

[{'name': 'index',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'timestamp',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'tag',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'luminance',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'power',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'voltage',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'frequency',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'power_factor',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'serial_buffer',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'max_luminance',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [70]:
pd.read_sql('test_results', engine, index_col='id')

,television_id,timestamp,tag,luminance,power,voltage,frequency,power_factor,serial_buffer,max_luminance
id,,,,,,,,,,
1,1,11/18/2019 - 17:18:04.283,1,119.765302,132.436950,117.35,59.980,0.9790,S: 117303Vo: 115503Am: 132806Wa: 01Wh:...,504.353911
2,1,11/18/2019 - 17:18:05.282,1,119.830604,132.486740,117.40,59.995,0.9790,S: 117403Vo: 115403Am: 132806Wa: 01Wh:...,507.600825
3,1,11/18/2019 - 17:18:06.283,1,123.593833,132.735690,117.55,59.980,0.9790,S: 117603Vo: 115103Am: 132606Wa: 01Wh:...,508.683129
4,1,11/18/2019 - 17:18:07.283,1,141.676282,133.731490,117.45,59.965,0.9790,S: 117403Vo: 116803Am: 134406Wa: 01Wh:...,527.082306
5,1,11/18/2019 - 17:18:08.284,1,142.314164,132.934850,117.60,59.980,0.9790,S: 117603Vo: 115403Am: 132906Wa: 01Wh:...,526.000002
...,...,...,...,...,...,...,...,...,...,...
16892,1,11/18/2019 - 21:59:35.283,69,0.015441,22.211848,119.20,60.025,0.8895,S: 119103Vo: 206802Am: 219305Wa: 01Wh:...,332.267491
16893,1,11/18/2019 - 21:59:36.283,69,0.015471,22.271596,119.30,60.015,0.8900,S: 119303Vo: 208302Am: 221205Wa: 01Wh:...,330.102882
16894,1,11/18/2019 - 21:59:37.282,69,0.015336,22.132184,119.30,60.025,0.8890,S: 119303Vo: 206802Am: 219405Wa: 01Wh:...,281.399178
16895,1,11/18/2019 - 21:59:38.284,69,0.015266,22.311428,119.30,60.025,0.8895,S: 119303Vo: 207402Am: 220205Wa: 01Wh:...,232.695474
16896,1,11/18/2019 - 21:59:39.282,70,0.015266,22.052520,119.30,60.020,0.8890,S: 119303Vo: 206402Am: 219005Wa: 01Wh:...,235.942388

In [77]:
path = r"G:\Shared drives\Automated Test\Final Test Files (All TVs)\LabTests\Sony_XBR-55X950G - GOOD\Data\2019-11-20 13.06.32 - Sony_XBR-55X950G.csv"
df = pd.read_csv(path)
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df['television_id'] = 2
df.to_sql('test_results',con=engine, if_exists='append', index=False)

In [78]:
pd.read_sql('test_results', engine, index_col='id')

,television_id,timestamp,tag,luminance,power,voltage,frequency,power_factor,serial_buffer,max_luminance
id,,,,,,,,,,
1,1,11/18/2019 - 17:18:04.283,1,119.765302,132.436950,117.35,59.980,0.9790,S: 117303Vo: 115503Am: 132806Wa: 01Wh:...,504.353911
2,1,11/18/2019 - 17:18:05.282,1,119.830604,132.486740,117.40,59.995,0.9790,S: 117403Vo: 115403Am: 132806Wa: 01Wh:...,507.600825
3,1,11/18/2019 - 17:18:06.283,1,123.593833,132.735690,117.55,59.980,0.9790,S: 117603Vo: 115103Am: 132606Wa: 01Wh:...,508.683129
4,1,11/18/2019 - 17:18:07.283,1,141.676282,133.731490,117.45,59.965,0.9790,S: 117403Vo: 116803Am: 134406Wa: 01Wh:...,527.082306
5,1,11/18/2019 - 17:18:08.284,1,142.314164,132.934850,117.60,59.980,0.9790,S: 117603Vo: 115403Am: 132906Wa: 01Wh:...,526.000002
...,...,...,...,...,...,...,...,...,...,...
31055,2,11/20/2019 - 17:02:31.289,65,13.938762,81.572054,116.80,60.020,0.9860,S: 116503Vo: 708702Am: 814805Wa: 01Wh:...,229.230004
31056,2,11/20/2019 - 17:02:32.287,65,13.936182,81.587064,117.00,60.020,0.9855,S: 117403Vo: 704702Am: 815905Wa: 01Wh:...,226.075463
31057,2,11/20/2019 - 17:02:33.289,65,13.938817,81.557043,116.25,60.025,0.9865,S: 116103Vo: 710202Am: 814405Wa: 01Wh:...,225.023949
31058,2,11/20/2019 - 17:02:34.288,65,13.936832,81.527022,117.20,60.010,0.9855,S: 117103Vo: 706202Am: 815805Wa: 01Wh:...,226.075463
31059,2,11/20/2019 - 17:02:35.288,65,13.530224,81.527022,116.85,60.025,0.9855,S: 117203Vo: 703702Am: 813705Wa: 01Wh:...,226.075463